[checkout]
  defaultRemote = upstream
[init]
  defaultBranch = main
[core]
  excludesfile = ~/.gitignore-global
[includeIf "gitdir:~/projects/"]
  path = ~/.gitconfig-work
[includeIf "gitdir:~/workspace/"]
  path = ~/.gitconfig-personal
[credential]
  helper = store
[pager]
  diff = delta
  log = delta
  reflog = delta
  show = delta
[delta]
  side-by-side = true
[pull]
  ff = only
  rebase = true
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
